@model SudaneseExpSYS.Models.Filed

@{
    ViewData["Title"] = "Create";
}
<form method="post">
    <div class="title-header">
        <h4 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-book-open"> @SudaneseExpSYS.Resourses.Resource.Fields</i></h4>
    </div>
    <br />

    <fieldset class="card p-4 shadow">

        <legend class="bg-custom shadow  px-3">@SudaneseExpSYS.Resourses.Resource.Create</legend>
     

        <div class="row my-2">
            <div class="col-md-6">

                <label asp-for="FName" class="control-label">@SudaneseExpSYS.Resourses.Resource.FName</label>
                <div class="editor-field">
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>
            </div>


        </div>
        <br />
        <p>
            <button type="submit" class="btn btn-primary" style="width:100px">@SudaneseExpSYS.Resourses.Resource.Save</button>
            <a asp-action="Index" class="btn btn-info">@SudaneseExpSYS.Resourses.Resource.Back</a>
        </p>
    </fieldset>
</form>
